<div class="box offer-box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="is-size-4" *ngIf="customer$ | async as customer">
          {{ offer.id }} - <strong><span id="offerCardCustomerCompany">{{ customer.customer.company }}</span></strong> - <strong><span id="offerCardCustomerName">{{ customer.customer.name }}</span></strong> - <small>{{ offer.title }}</small>
        </p>
        <div class="columns" *ngIf="showMore">
          <div class="column is-one-third">
            <p>
              <strong>Description:</strong> <br> {{ offer.description }}
            </p>
          </div>
          <div class="column auto">
            <p>
              <strong>Price:</strong> <br> {{ offer.price }}
            </p>
          </div>
          <div class="column auto">
            <p>
              <strong>Status:</strong><br>
            </p>
            <div class="select">
              <select [(ngModel)]="offer.status" (change)="changeStatus(offer.id)">
                <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
              </select>
            </div>
          </div>
          <div class="column auto">
            <button class="button is-primary" (click)="showOfferDetails(offer.id)">Details</button>
          </div>
        </div>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="more" (click)="showMore = !showMore">
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true" *ngIf="!showMore"></i>
              <i class="fas fa-angle-up" aria-hidden="true" *ngIf="showMore"></i>
            </span>
          </a>
          <a class="level-item" aria-label="edit" (click)="editOffer(offer.id)">
            <span class="icon is-small">
              <i class="fas fa-edit" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="delete" (click)="deleteOffer(offer.id)">
            <span class="icon is-small">
              <i class="fas fa-trash" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
