<div class="modal" [class.is-active]="isActive">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create Customer</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Name" formControlName="name">
            <div *ngIf="customerForm.get('name').hasError('required')">
              <p class="help is-danger">Name is required</p>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Company</label>
          <div class="control">
            <input class="input" type="text" placeholder="Company" formControlName="company">
            <div *ngIf="customerForm.get('company').hasError('required')">
              <p class="help is-danger">Company is required</p>
            </div>
          </div>
        </div>
        <div class="inline-fields">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="Email" formControlName="email">
              <div *ngIf="customerForm.get('email').hasError('required')">
                <p class="help is-danger">Email is required</p>
              </div>
              <div *ngIf="customerForm.get('email').hasError('email')">
                <p class="help is-danger">Email is invalid</p>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Phone</label>
            <div class="control">
              <input class="input" type="tel" placeholder="Phone" formControlName="phone">
              <div *ngIf="customerForm.get('phone').hasError('required')">
                <p class="help is-danger">Phone is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <input class="input" type="text" placeholder="Address" formControlName="address">
            <div *ngIf="customerForm.get('address').hasError('required')">
              <p class="help is-danger">Address is required</p>
            </div>
          </div>
        </div>
        <div class="inline-fields">
          <div class="field">
            <label class="label">Zip</label>
            <div class="control">
              <input class="input" type="text" placeholder="Zip" formControlName="zip">
              <div *ngIf="customerForm.get('zip').hasError('required')">
                <p class="help is-danger">Zip is required</p>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">City</label>
            <div class="control">
              <input class="input" type="text" placeholder="City" formControlName="city">
              <div *ngIf="customerForm.get('city').hasError('required')">
                <p class="help is-danger">City is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Country</label>
          <div class="control">
            <input class="input" type="text" placeholder="Country" formControlName="country">
            <div *ngIf="customerForm.get('country').hasError('required')">
              <p class="help is-danger">Country is required</p>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" type="submit" [disabled]="!customerForm.valid"><i class="fas fa-check icon-space-right"></i> Submit</button>
          </div>
          <div class="control">
            <button class="button is-link" (click)="closeModal()"><i class="fas fa-x icon-space-right"></i> Cancel</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
