<section class="section">
  <div class="container">
    <h1 class="title">Create new offer</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          <input class="input" type="text" id="title" [(ngModel)]="title" name="title" placeholder="Title" required>
        </div>
      </div>
      <div class="field">
        <label for="description" class="label">Description</label>
        <div class="control">
          <textarea class="textarea" id="description" [(ngModel)]="description" name="description"
                    placeholder="Description" required></textarea>
        </div>
      </div>
      <div class="field">
        <label for="price" class="label">Price</label>
        <div class="control">
          <input class="input" type="number" id="price" [(ngModel)]="price" name="price" placeholder="Price" required>
        </div>
      </div>
      <div class="field">
        <label for="createCustomer" class="label">Create Customer</label>
        <button class="button is-link" (click)="createCustomer()" id="createCustomer"><i class="fas fa-user icon-space-right"></i> Create Customer</button>
      </div>
      <div class="field">
        <label for="customer" class="label">Select Customer</label>
        <div class="control">
          <div class="select">
            <select id="customer" [(ngModel)]="selectedCustomer" name="customer" required>
              <option *ngFor="let customer of customers"
                      [value]="customer.id">{{ customer.id }} {{ customer.company }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <button class="button is-link" type="submit"><i class="fas fa-check icon-space-right"></i> Create</button>
      </div>
    </form>
  </div>
</section>
<app-create-customer-modal></app-create-customer-modal>
