<section class="section">
  <div class="container">
    <h1 class="title">Overview</h1>
    <div class="columns">
      <div class="column is-6">
        <div class="box">
          <h2 class="title is-4">Offers</h2>
          <p>Offerscount: {{ offersCount }}</p>
          <br>
          <button class="button is-primary" (click)="viewOffers()"><i class="fas fa-envelope icon-space-right"></i> View Offers</button>
        </div>
      </div>
      <div class="column is-6">
        <div class="box">
          <h2 class="title is-4">Customers</h2>
          <p>Customerscount: {{ customersCount }}</p>
          <br>
          <button class="button is-primary" (click)="viewCustomers()"><i class="fas fa-user icon-space-right"></i> View Customers</button>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6">
        <div class="box">
          <h2 class="title is-4">Documents</h2>
          <p>Documentscount: {{ documentsCount }}</p>
          <br>
          <button class="button is-primary" (click)="viewDocuments()"><i class="fas fa-user icon-space-right"></i> View Documents</button>
        </div>
      </div>
      <div class="column is-6">
        <div class="box">
          <h2 class="title is-4">Tags</h2>
          <p>Tagscount: {{ tagsCount }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
