<section class="section">
  <div class="container">
    <h1 class="title">Settings</h1>
    <div class="columns">
      <div class="column is-6">
        <div class="box">
          <p class="is-text">Clears the database, recreates tables and loads test data</p>
          <br>
          <button *ngIf="tablesbtnactive" class="button is-primary" (click)="recreateDatabaseTables()"><i class="fas fa-list-check icon-space-right"></i> Recreate database Tables</button>
          <p *ngIf="!tablesbtnactive" class="is-text is-warning">Loading...</p>
        </div>
      </div>
      <div class="column is-6">
        <div class="box">
          <p class="is-text">Loads test data into the database</p>
          <br>
          <button *ngIf="testbtnactive" class="button is-primary" (click)="loadTestData()"><i class="fas fa-database icon-space-right"></i> Load Test Data</button>
          <p *ngIf="!testbtnactive" class="is-text is-warning">Loading...</p>
        </div>
      </div>
    </div>
  </div>
</section>
