<div class="sidebar">
  <div class="sidebar-header">
    <h1 class="title">OfferSphere</h1>
    <p class="subtitle is-6">By Prismarine Solutions</p>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li [class.active]="isActive('/overview')">
        <a routerLink="/overview" routerLinkActive="active">Overview</a>
      </li>
      <li [class.active]="isActive('/offers') || isActive('/createoffer') || isActive('/alloffers')" class="has-submenu">
        <a routerLink="/offers" routerLinkActive="active">Offers</a>
        <ul class="submenu">
          <li [class.active]="isActive('/createoffer')">
            <a routerLink="/createoffer" routerLinkActive="active">Create new</a>
          </li>
          <li [class.active]="isActive('/alloffers')">
            <a routerLink="/alloffers" routerLinkActive="active">List all</a>
          </li>
        </ul>
      </li>
      <li [class.active]="isActive('/customers')">
        <a routerLink="/customers" routerLinkActive="active">Customers</a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul>
      <li [class.active]="isActive('/settings')">
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
      </li>
      <li [class.active]="isActive('/login')">
        <a routerLink="/login" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</div>
