<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <h1 class="title">Overview</h1>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Search</label>
          <div class="control">
            <input class="input" type="text" placeholder="Search">
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <h1 class="title">Overview</h1>
          <p class="subtitle">This is the overview page</p>
        </div>
      </div>
    </div>
  </div>
</section>
