<section class="section">
  <div class="container">
    <h1 class="title">Offerdetails</h1>
    <div class="columns">
      <div class="column is-6">
        <div class="box">
          <div class="content">
            <h2 class="title is-4">Offerdetails</h2>
            <div class="columns">
              <div class="column is-6">
                <p>ID: {{offer.id}}</p>
                <p>Name: {{offer.title}}</p>
                <p>Description: {{offer.description}}</p>
                <p>Price: {{offer.price}}</p>
                <p>Status: {{offer.status}}</p>
              </div>
              <div class="column is-6">
                <p>Created by: {{createdByOffer}}</p>
                <p>Date created: {{offer.createdAt}}</p>
                <p>Updated by: {{updatedByOffer}}</p>
                <p>Date updated: {{offer.updatedAt}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="box">
          <div class="content">
            <h2 class="title is-4">Customer</h2>
            <div class="columns">
              <div class="column is-6">
                <p>ID: {{customer.id}}</p>
                <p>Name: {{customer.name}}</p>
                <p>Company: {{customer.company}}</p>
                <p>Email: {{customer.email}}</p>
                <p>Phone: {{customer.phone}}</p>
                <p>Address: {{customer.address}}</p>
                <p>Zip: {{customer.zip}}</p>
                <p>City: {{customer.city}}</p>
                <p>Country: {{customer.country}}</p>
              </div>
              <div class="column is-6">
                <p>Created by: {{createdByCustomer}}</p>
                <p>Date created: {{customer.createdAt}}</p>
                <p>Updated by: {{updatedByCustomer}}</p>
                <p>Date updated: {{customer.updatedAt}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="box">
          <div class="content">
            <h2 class="title is-4">Documents</h2>
            <button class="button is-primary" (click)="openAddDocumentModal()">Add document</button>
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Filepath</th>
                  <th>Date created</th>
                  <th>Date updated</th>
                  <th>TagCount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let document of documents">
                  <td>{{document.id}}</td>
                  <td>{{document.name}}</td>
                  <td>{{document.documentPath}}</td>
                  <td>{{document.createdAt}}</td>
                  <td>{{document.updatedAt}}</td>
                  <td>{{tagsCount[document.id]}}</td>
                  <td>
                    <button class="button is-small is-primary" (click)="openTagsModal(document)">Tags</button>
                    <button class="button is-small is-primary" (click)="openDocument(document)">Open</button>
                    <button class="button is-small is-danger" (click)="deleteDocument(document)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="box">
          <div class="content">
            <h2 class="title is-4">Comments</h2>
            <div class="field">
              <label class="label">Comment</label>
              <div class="control">
                <textarea class="textarea" [(ngModel)]="comment"></textarea>
              </div>
            </div>
            <button class="button is-primary" (click)="addComment()">Add comment</button>
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Text</th>
                  <th>User</th>
                  <th>Date created</th>
                  <th>Date updated</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comment of comments">
                  <td>{{comment.id}}</td>
                  <td>{{comment.text}}</td>
                  <td>{{userComment[comment.id]}}</td>
                  <td>{{comment.createdAt}}</td>
                  <td>{{comment.updatedAt}}</td>
                  <td>
                    <button class="button is-small is-danger" (click)="deleteComment(comment)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-show-document-modal></app-show-document-modal>
<app-add-document-modal></app-add-document-modal>
<app-tags-modal-modal></app-tags-modal-modal>
